@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans JP", sans-serif;
}

@layer base {
  * {
    @apply m-0 p-0;
    @apply font-sans;
    @apply box-border;
  }
  html,
  body {
    @apply overflow-hidden;
  }
  a {
    @apply no-underline;
  }
}
@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /* Firefox ç”¨ */
  .scrollbar-none {
    scrollbar-width: none;
  }
}
